body, di, ul, li, a span, img{
	padding: 0;
	margin: 0;
}

#wrapper{
	width: 960px;
	font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
	font-size: 16px;
	padding: 25px;
}

img{
	width: 15px;
}

a{
	text-decoration: none;
	color: #777777;
	text-align: justify;
}

li{
	list-style-type: none;
}

.content{
	display: none;
	padding-left: 20px;
}

.content img{
	margin-right: 10px;
}

.content li{
	margin: 10px 0px;
}
.notification-list > li{
	width: 170px;
	background: #AAAAAA; /* Old browsers */
	background: -moz-linear-gradient(top,  #AAAAAA 0%, #DDDDDD 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AAAAAA), color-stop(100%,#DDDDDD)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #AAAAAA 0%,#DDDDDD 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #AAAAAA 0%,#DDDDDD 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #AAAAAA 0%,#DDDDDD 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #AAAAAA 0%,#DDDDDD 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AAAAAA', endColorstr='#DDDDDD',GradientType=0 ); /* IE6-9 */
	border: 1px solid black;
	border-right: none;
	padding:5px 15px;
	display: inline-block;
}

.notification-list > li:first-of-type{
	width: 115px;
	border-top-left-radius:15px;
	border-right: none;
}

.notification-list > li:last-of-type{
	width: 95px;
	border-top-right-radius:15px;
	border-right: 1px solid black;
}

.notification-list > li:hover{
	border-bottom: none;
}

.notification-list > li:hover .content{
	display: inline-block;
	top: 44px;
	position: absolute;
	margin-top: 10px;
	left: 25px;
	border: 1px solid black;
	border-top:none;
	width: 452px;
}