/* CSS Document */
body { 
	margin: 0;
	padding: 10px 10px 10px 10px;
	background-color: #333;
}

heading *{
	display: inline-block;
	background-color: #000;
	color: #FFF;
	vertical-align: middle;
}

heading span{
	float: right;
}

heading div{
	width: 100%;
}

heading input{
	background-color: #FFF;
	color: #AAA;
	padding: 3px;
	padding-left: 10px;
	margin-left: 10px;
}

heading img{
	height: 50px;
}

section{
	color: #888;
}

section p {
	margin:0;
	font-size: 16px;
}
section span{
	color: #FFF;
}

section a{
	color: #888;
	text-decoration: none;
}

section h1{
	font-size: 30px;
	color: #FD0;
}