body, div, ul, li, span, a {
	margin: 0;
	padding: 0;
}

#wrapper{
	width: 960px;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'DejaVu Sans Condensed', sans-serif;
	font-size: 16px;
	padding: 50px 0px 0px 50px;
}

a{
	text-decoration: none;
	color: #0094FF;
}

li{
	list-style-type: none;
}

.msg-bar > li{
	margin-top: 154px;
	display: inline-block;
	border: 1px solid black;
	width: 115px;
	text-align: center;
	padding: 5px 0px;
	background: #AAFFEF; /* Old browsers */
	background: -moz-linear-gradient(top,  #AAFFEF 0%, #13FFD2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AAFFEF), color-stop(100%,#13FFD2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #AAFFEF 0%,#13FFD2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #AAFFEF 0%,#13FFD2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #AAFFEF 0%,#13FFD2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #AAFFEF 0%,#13FFD2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AAFFEF', endColorstr='#13FFD2',GradientType=0 ); /* IE6-9 */
}

.msg-bar > li:hover{
	margin-top: 0px;
	border-top: 5px solid #AAFFEF;
	background: #00DDB3;
}

.msg-bar-content{
	text-align: left;
	display: none;
	position: absolute;
	top: 50px;
	left: 50px;
	background: #AAFFEF;
	border: 1px solid black;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom: none;
	width: 455px;
	padding: 5px;
}

.msg-bar li:hover .msg-bar-content {
	display: block;
}

span{
	color: #0094FF;
	display: inline-block;
	text-align: right;
	float: right;
	border-bottom: 1px solid black;
	width: 69%;
	margin: 2px;
	padding: 5px;
	padding-left: 25px;
}

.msg-bar-content li:last-of-type span:last-of-type{
	border-bottom: none;
}

.msg-bar-content span.user{
	float: left;
	width: auto;
	margin: 1px;
	text-align: left;
	border:1px solid black;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position-y: 7px;
	background-position-x: 7px;
}

.me-item .user{
	background-image: url('imgs/me.png');
}

.other-item .user{
	background-image: url('imgs/male.png');
}
