/* CSS Document */
body {
  padding: 0px;
  margin: 0px;
  list-style: none; }

.strip li {
  display: inline-block; }
  .strip li .thumb > img {
    width: 200px;
    height: 150px;
    padding: 5px; }
  .strip li .thumb .preview {
    position: absolute;
    top: 200px;
    left: 10px; }
    .strip li .thumb .preview > img {
      width: 600px;
      height: 480px;
      display: none; }
  .strip li .thumb:focus .preview img {
    display: block; }