/* CSS Document */
body {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.strip li {
	display: inline-block;
	.thumb
	{
		> img
		{
			width:200px;
			height:150px;
			padding:5px;
		}
		.preview 
		{
			position:absolute;
			top:200px;
			left:10px;
			> img
			{
				width:600px;
				height:480px;
				display:none;
			}
		}
		&:focus .preview img
		{
			display:block;
		}
	}
}

/*.top_nav > li > div{
	background-color: #456;
	color: #9AB;
	padding: 4px 15px 4px 15px;
}

.top_nav > li > div:hover {
	color: #FFF;
	text-decoration: underline;
}

.top_nav li div:focus {
	color: #FFF;
	background-color: #144;
	outline:0;
}

.top_nav li div:focus .side_nav{
	display: inline-block;
}

.top_nav li div:focus .side_nav li{
	display: block;
}

.side_nav{
	display: none;
	position: fixed; 
	left:10px;
	top:50px;
	width: 250px;
}

.side_element{
	padding: 10px;
	border-bottom: 1px solid #9AB;

}

.side_element:hover {
	color: #FFF;
	background-color: #0AA;
}

.side_nav img{
	display: none;
	position: fixed;
	left:260px;
	top:50px;
	width: 250px;
}

.side_nav div:hover img{
	display: block;
	position: fixed;
	left:300px;
	top:50px;
	width: 350px;
} */