body,
section header div aside,
h1,
h2,
h3,
h4,
form,
nav,
ul,
li,
a {
  padding: 0;
  margin: 0;
}
body {
  background-color: #9215f2;
  color: white;
}
body a,
body em {
  text-decoration: none;
  color: #d4a3f8;
}
body header {
  background: #d593ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d593ff 0, #9215f2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d593ff), color-stop(100%, #9215f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d593ff 0, #9215f2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d593ff 0, #9215f2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d593ff 0, #9215f2 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d593ff 0, #9215f2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d593ff', endColorstr='#9215f2', GradientType=0);
  /* IE6-8 */
  background-color: #9215f2;
}
body header #logo-container,
body header #reg-form-container {
  display: inline-block;
  padding: 20px;
}
body header #reg-form-container {
  float: right;
}
body header #reg-form-container input,
body header #reg-form-container button {
  background-color: #B35EF3;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
body header #reg-form-container input {
  border: 1px solid #603382;
  margin: 5px;
}
body header #reg-form-container button {
  padding: 5px 10px;
}
body header nav {
  margin: 20px;
  margin-left: 40px;
  width: 80%;
  border: 2px solid #000;
  border-radius: 15px;
}
body header nav li {
  padding: 10px;
}
body header nav li:first-of-type {
  padding-left: 25px;
}
body header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}
body header nav #main-nav-list > li {
  display: inline-block;
}
body header nav #main-nav-list > li .sub-nav-list {
  display: none;
  list-style-type: none;
  margin: 5px;
  font-size: 0.8em;
}
body header nav #main-nav-list > li:hover .sub-nav-list {
  display: block;
  position: absolute;
  background-color: #bf76f7;
}
body section {
  float: left;
  padding: 10px;
  width: 75%;
}
body section article {
  padding: 30px;
  margin: 20px;
  border: 2px solid #000;
  border-radius: 15px;
}
body section article header {
  background: #9215f2;
  background-color: #9215f2;
  padding-left: 10px;
}
body section article footer {
  text-align: right;
}
body section article footer p {
  margin: 0;
}
body aside {
  float: left;
  width: 20%;
  padding-top: 30px;
}
body aside > ul {
  list-style-type: none;
}
body aside > ul > li {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
body aside > ul > li h2 {
  font-size: 1em;
}
body aside > ul > li ul li {
  list-style: none;
  margin: 5px 10px 0 0;
  background: url(images/li-dot.png) no-repeat;
  background-position: 0 50%;
  padding-left: 25px;
}
body > footer {
  clear: both;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
/*# sourceMappingURL=Homework.css.map */