/* CSS Document */
body{
	background-color: #EEE;
	padding: 0;
	margin: 0;
	font-family: Tahoma, Consolas, Arial;
	font-size: 14px
}

a{
	color: #A00;
}

h4{
	background-color: #BBB;
}


.\ {
	zoom:1;}

.clearfix: after {
	content: ""; 
	display: block; 
	clear: both; 
	height: 0; }


.left{
	float: left;
	width: 150px;
	font-size: 12px
}

.left span{
	font-weight: bold;
}

.left a{
	display: block;
	color: #000;
	text-decoration: none;
}

.left h4{
	color: #A00;
	background-color: #EEE;
	font-weight: bold;
	margin: 0.5em 0 0 0;
}

.center{
	border: 1px solid black;
	float: left;
	background-color: #FFF;
	width: 700px;
	margin-top: 5px;
}

.center button{
/*	width: 100px; */
	text-align: center;
}

.center button span{
	text-align: center;
}
h3{
	font-size: 14px;
	background-color: #999;	
}

header, footer{
margin:10px;
}

#left_arrow{
	float: left;
}

#right_arrow{
	float: right;
}
section{
	margin:10px;
}
section img{
	float:left;
	padding:10px 20px 20px 0px;
}

.selected p{
	font-weight: bold;
}

.right{
	text-align: center;
	float: left;
	width: 150px;
	margin-top: 5px;
	margin-left: 5px;
}
.right h3{
	margin-top: 0px;
	margin-bottom: 5px;
}
.right > div{
	margin-top:0px;
	margin-bottom: 5px;
	border: 1px solid black;
	font-size: 12px;
	padding-bottom:5px;
}

.search{
	display: inline-block;
	text-align: center;
}

.search input{
	margin-top: 5px;
	width: 90px;
}
#BigBlueButton{
	background-color: #0FF;
	padding: 5px 10px;
	margin-top: 5px;
	color: #00F;
	font-weight: bold;
}