<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SummerOlympiads.Data.Mongo.MongoSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SummerOlympiads.Data.Mongo.MongoSettings>
            <setting name="ConnectionString" serializeAs="String">
                <value>mongodb://localhost</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>battle_dwarf_team</value>
            </setting>
        </SummerOlympiads.Data.Mongo.MongoSettings>
    </userSettings>
</configuration>