table {
	border: 1px solid #B0B0B0;
	border-spacing: 0px;
	border-collapse: collapse;
	font-size: 10pt;
	font-family:Arial,Helvetica,sans-serif;
}

td, th
{
    border: 1px solid #B0B0B0;
	padding-left: 4px;
	padding-right: 6px;
	text-align: left;
	font-weight: normal;
}

.head1 {
	background-color: #E0E0E0;
	height: 25px;
}

.head2{
	background-color: #E0E0E0;
	height: 25px;
}

.head3 {
	background-color: #E0E0E0;
}

.footer {
	background-color: #E0E0E0;
	height: 30px;
}

.footer td {
	border: none;
}

.footer a {
	text-decoration: none;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;	
	border: 1px solid rgba(0,0,0,0);
}

.footer a:hover {
	border: 1px solid #B0B0E0;
}

a.active {
	border: 1px solid red;
}

tbody td {
	height: 25px;
}

input[type="image"] {
	vertical-align: -6px;
}