body, a, div, ul, li, aside {
	padding: 0;
	margin:0;
}

#wrapper{
	font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
	width: 960px;
	font-size: 16px;
	padding: 10px 20px;
}

a{
	text-decoration: none;
	color: black;
}

li{
	list-style-type: none;
	border-bottom: 1px solid #9D00FF;
	padding: 5px 15px;
	font-size: 20px;
}

li:last-of-type{
	border-bottom: none;	
}

li:hover{
	border: 1px solid #9D00FF;
	border-radius: 5px;
}

aside{
	float: left;
	border-radius: 10px;
	padding: 5px 10px;
	background: #D29BFF; /* Old browsers */
	background: -moz-linear-gradient(top,  #D29BFF 0%, #8977FF 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D29BFF), color-stop(100%,#8977FF)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #D29BFF 0%,#8977FF 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #D29BFF 0%,#8977FF 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #D29BFF 0%,#8977FF 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #D29BFF 0%,#8977FF 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D29BFF', endColorstr='#8977FF',GradientType=0 ); /* IE6-9 */

}

li ul{
	display: none;
	background-image: url('imgs/arrow.png');
	background-repeat: no-repeat;
	background-position: 5px 13px;
	padding: 5px;
}

li:hover  ul{
	margin-top: -35px;
	display: inline-block;
	position: absolute;
	left: 205px;
	background-color: #B5AAFF;
	border-radius: 10px;
}

li li{
	font-size: 16px;
	margin-left: 15px;
}