body {
  font-size: 18px;  
  font-family: Arial;
  color:#2AA0BD;
}

#root {
  width: 610px
}

h1, h2{
	text-align: center;
}

h1{
	font-style: italic;
}

li{
	list-style-type: none;
}

ul{
	padding: 0;
	margin: 0;
}

span{
	word-wrap:break-word;
}

.chat-container{
	width: 300px;
	height: 500px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	display: inline-block;
	background: #4AE871; /* Old browsers */
	background: -moz-linear-gradient(top,  #4AE871 0%, #69EC7E 50%, #D2FBAE 70%, #F1FFBC 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4AE871), color-stop(100%,#F1FFBC)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4AE871 0%,#69EC7E 50%,#D2FBAE 70%,#F1FFBC 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4AE871 0%,#69EC7E 50%,#D2FBAE 70%,#F1FFBC 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4AE871 0%,#69EC7E 50%,#D2FBAE 70%,#F1FFBC 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4AE871 0%,#69EC7E 50%,#D2FBAE 70%,#F1FFBC 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4AE871', endColorstr='#F1FFBC',GradientType=0 ); /* IE6-9 */
	position: relative;
}

.chat-container li{
	margin: 0px 15px;
	border-bottom: 1px solid black;
}

.chat-container li:last-of-type{
	border-bottom: none;
}

.other{
	text-align: right;
}

.chat-container strong{
	display: block;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
}

.sent-message{
	position: absolute;
	bottom: 5px;
}

.sent-message input{
	border: 1px solid #CCCCCC;
	background-color: #F1FFBC;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 35px;
	width: 185px;
	margin-left: 5px;
	color: #A9A9A9;
	font-size: 18px;
	padding-left: 15px;
}
.sent-message input:focus{
	color: #2AA0BD;		
}

.sent-message button{
	border: 1px solid #CCCCCC;
	background-color: #F1FFBC;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 35px;
	width: 75px;
	color: #2AA0BD;
	font-size: 18px;
}

.sent-message button:hover{
	background: #4AE871; /* Old browsers */
	background: -moz-linear-gradient(top,  #4AE871 0%, #F1FFBC 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4AE871), color-stop(100%,#F1FFBC)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4AE871 0%,#F1FFBC 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4AE871 0%,#F1FFBC 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4AE871 0%,#F1FFBC 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4AE871 0%,#F1FFBC 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4AE871', endColorstr='#F1FFBC',GradientType=0 ); /* IE6-9 */
}